:root {
  --clr-white: #d3d3d3;
  --clr-btn: #585858;
  --clr-btn-dark: #464646;
}
body {
  background-color: rgb(41, 41, 41);
}

.container {
  border: 1px solid var(--clr-white);
}

h1 {
  color: var(--clr-white);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span {
  color: var(--clr-white);
  font-weight: bold;
}

.btn {
  min-width: 3rem;
  font-weight: bold;
  margin: 0.8rem;
}

.resources {
  border: 2px solid deeppink;
}

.resource {
  font-weight: bold;
  color: var(--clr-white);
  border: 2px solid var(--clr-btn);
  text-align: center;
  cursor: pointer;
  border-radius: 40px;
  background-color: var(--clr-btn);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.resource:hover {
  background-color: var(--clr-btn-dark);
  color: greenyellow;
  transition: all 0.2s ease-in-out;
  border: 2px solid greenyellow;
}
.resource:active {
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}

.crafting {
  color: var(--clr-white);
  background-color: brown;
  height: 45vh;
}
